body {
	background:black url(http://v5.elfenrausch.de/images/pattern_background.png) repeat scroll 35px -4px;
	background-color: red;
	height:100%;
	min-height:100%;
	
	font-family:Tahoma,Helvetica,sans-serif;
	font-size:12px;
	line-height:16px;	
}

p {
	margin:0;
	padding:0 0 10px;	
}

div.clean {
	background: transparent none;
}
div.top-spacer {
	height: 0px;
}

div.left-spacer {
	width: 178px;
}
div#logo-menu {
	background:black url(http://v5.elfenrausch.de/images/logo_menu.png) no-repeat scroll right bottom;
	width: 149px;
	height: 181px;
}
div#logo-content {
	background:black url(http://v5.elfenrausch.de/images/logo_content.png) no-repeat scroll center bottom;
	width: 622px;
	height: 181px;
	position: relative;
}
div#logo-right {
	background:black url(http://v5.elfenrausch.de/images/logo_right.png) no-repeat scroll left bottom;
	width: 149px;
	height: 181px;
}
div#content-title {
	position: absolute; bottom: 0; left: 0;
}

div#menu {
	background:black url(http://v5.elfenrausch.de/images/shade_menu.png) repeat-y;
	width: 149px;
	min-height: 900px;
}
div#content {
	background:black url(http://v5.elfenrausch.de/images/pattern_content.png) repeat-y;
	width: 607px;
	padding: 0 5px 0 10px;
	min-height: 900px;
	position: relative;
	
}
div#footer {
	position: absolute; bottom: 0; left: 0;
	width: 100%;
	color:#665566;
	font-size:10px;
	line-height:12px;
	text-align:center;
}
div#footer hr{
	background:#665566 none repeat scroll 0 0;
	border:0 solid #665566;
	height:1px;
	width:90%;	
}
div#right {
	background:black url(http://v5.elfenrausch.de/images/shade_right.png) repeat-y;
	width: 149px;
	min-height: 900px;
}

ul.navmenu {
	width: 149px;
	/*border: 1px solid #000;*/
	/*background-color: #8aa;*/
	padding-right: 10px;
	padding-left: 0px;
	cursor: default;
	margin-left: 0px;
	margin-top: 0px;
	text-align: right;
	font-size: 12px;
	color: #eedd66;
	font-weight: bold;
}

ul.navmenu li {
	list-style-type: none;
	margin-right: 10px;
	margin-bottom: 20px;
	position: relative;
}

ul.navmenu li > ul {
/*	display: none;*/
	font-size: 12px;
	font-weight: normal;
	text-align: right;
	margin: 5px 0px;
	
}

ul.navmenu li > ul li {
	margin: 0px;
}

ul.navmenu li a {
	 color: #eedd66; display: block; width: 100%; text-decoration: none;
	font-weight: normal;	
}

ul.navmenu li a:hover {
	 text-decoration: underline;
}



div.layout
{
	/* 40 + 149 + 622 +149 */
	/* min-width  : 960px; */
	min-width  : 1120px;
}

h1 {
	font-family: Garamond, serif;
	font-size: 22px;
	font-weight: bold;
	color: #000000;
	padding: 20px 22px 20px 22px;
	margin: 0px;	
}

h2 {
	font-family: Garamond, serif;
	font-size: 140%;
	margin: 1em 0 0.1em 0;
}
h3 {
	font-family: Garamond, serif;
	font-size: 110%;
	margin: 1em 0 0.1em 0;
}
h4 {
	font-family: Garamond, serif;
	font-size: 100%;
	margin: 1em 0 0.1em 0;
}

a {
	color: #993399;
	font-weight: bold;
	text-decoration: none;
}
a:hover {
	color: #bb44bb;
	text-decoration: underline ;
}

dl.faq dt {
font-size:1.5em;
font-weight:bold;
margin:15px 0 5px;
padding:3px;
}
dl.faq dd {
line-height:150%;
margin:5px 0 20px;
padding:0 25px;
}

table.openingtimes{
        border:1px solid #000;
        border-collapse:collapse;
        color: pink;
        font-size: 120%;
}

table.openingtimes tr,td{
        padding: 6px 6px 6px 12px;      
}
table.openingtimes tr {
        color: #250d2c;
        background: #eedd66;
}


table.openingtimes tr.odd {
        color: #eedd66;
        background: #250d2c;
}

div.bio {
	position: relative;
}
div.bio div.photo {
	position: absolute;
	top: 10px;
	right: 38px;
}
div.bio div.info {
	width: 407px;
}

img.framed {
	border: 1px solid black;
	margin: 5px;
}

table.gallery {
	width: 90%;
}

ul.twitter {
}
ul.twitter li {
	list-style-type: none;
	margin-bottom: 2px;
	padding: 10px;
	position: relative;
	border: 1px solid black;
	height: 50px;
}

div.friend{
	position:relative;
	border: 1px solid #250d2c;
/*	float: clear;
	clear: both;*/
	overflow: hidden;
	width: 100%;
	margin-bottom: 5px;
}
div.odd div.portrait{
	float: left;
}
div.odd div.banner{
	float: left;
	clear: both;
/*	
	position: absolute;
	right: 0;
	bottom: 0;
	*/
}
div.even div.portrait{
	float: right;
}


.postdate {
	position: relative;
	width: 50px;
	height: 50px;
	float: left;
	margin-right: 5px;
}

.month, .day, .year {
	position: absolute;
	text-indent: -1000em;
	background-image: url(/images/dates.png);
	background-repeat: no-repeat;
}

.month { top: 2px; left: 0; width: 32px; height: 24px; }
.day { top: 25px; left: 0; width: 32px; height: 25px; }
.year { bottom: 0; right: 0; width: 17px; height: 48px; }

.m-01 { background-position: 0 px; }
.m-02 { background-position: 0 -26px; }
.m-03 { background-position: 0 -58px; }
.m-04 { background-position: 0 -90px; }
.m-05 { background-position: 0 -122px; }
.m-06 { background-position: 0 -152px; }
.m-07 { background-position: 0 -184px; }
.m-08 { background-position: 0 -216px; }
.m-09 { background-position: 0 -247px; }
.m-10 { background-position: 0 -276px; }
.m-11 { background-position: 0 -308px; }
.m-12 { background-position: 0 -338px; }

.d-01  { background-position: -50px 0; }
.d-02  { background-position: -50px -32px; }
.d-03  { background-position: -50px -63px; }
.d-04  { background-position: -50px -94px; }
.d-05  { background-position: -50px -124px; }
.d-06  { background-position: -50px -155px; }
.d-07  { background-position: -50px -187px; }
.d-08  { background-position: -50px -218px; }
.d-09  { background-position: -50px -249px; }
.d-10 { background-position: -50px -280px; }
.d-11 { background-position: -50px -310px; }
.d-12 { background-position: -50px -341px; }
.d-13 { background-position: -50px -372px; }
.d-14 { background-position: -50px -404px; }
.d-15 { background-position: -50px -436px; }
.d-16 { background-position: -50px -466px; }
.d-17 { background-position: -100px 0; }
.d-18 { background-position: -100px -32px; }
.d-19 { background-position: -100px -63px; }
.d-20 { background-position: -100px -94px; }
.d-21 { background-position: -100px -125px; }
.d-22 { background-position: -100px -156px; }
.d-23 { background-position: -100px -186px; }
.d-24 { background-position: -100px -218px; }
.d-25 { background-position: -100px -248px; }
.d-26 { background-position: -100px -280px; }
.d-27 { background-position: -100px -310px; }
.d-28 { background-position: -100px -342px; }
.d-29 { background-position: -100px -373px; }
.d-30 { background-position: -100px -404px; }
.d-31 { background-position: -100px -434px; }

.y-2009 { background-position: -150px -154px; }
.y-2010 { background-position: -150px -204px; }
.y-2011 { background-position: -150px -254px; }
.y-2012 { background-position: -150px -304px; }


