<!-- START menu.html -->
<div id="menu" class="fixed-column" style="">
	<ul class="navmenu">
		<li>Elfenrausch
			<ul>
				<li><a href="{{ site.baseurl }}/">Willkommen</a></li>
				<li><a href="{{ site.baseurl }}/wer_sind_wir/">Wer sind Wir</a></li>

				<li><a href="{{ site.baseurl }}/wie_arbeiten_wir/">Wie arbeiten Wir</a></li>
				<li><a href="{{ site.baseurl }}/unsere_freunde/">Unsere Freunde</a></li>
				<li><a href="{{ site.baseurl }}/aktuell/">Aktuell</a></li>
			</ul>
		</li>
		<li>Vertriebswege
			<ul>
				<li><a href="{{ site.baseurl }}/atelier/">Atelier</a></li>

				<li><a href="{{ site.baseurl }}/massanfertigungen/">Ma&szlig;anfertigung</a></li>
				<li><a href="{{ site.baseurl }}/galerie/">Galerie</a></li>
				<li><a href="{{ site.baseurl }}/events/">Events</a></li>
			</ul>
		</li>
	</ul>
</div>
<!-- END menu.html -->
